.float-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.myfloat {
    margin-top:15px;
}

.--fa-primary-color-instagram {
    color: pink;
}

.--fa-primary-color-youtube {
    color: red;
}

@media screen and (max-width:950px) {
    .carrossel-image {
        height: 100%;
    }
}

@media screen and (max-width:800px) {
    .carrossel-image {
        width: auto;
    }
}